::ng-deep .p-tabmenu .p-tabmenu-nav{
    background: none;
    border: none;
    padding: 10px;
    margin: 10px;
    justify-content: flex-end;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem a {
    color: black; /* Dark grey text color */
    padding: 20px;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight a {
    border-radius: 8px 8px 0 0;
    border-bottom: solid 2px;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    border: none;
    background: none;
}

.content-area {
    padding-bottom: 80px; /* Adjust this to at least the height of your footer */
}

.custom-tabmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-bottom: 3px solid;
    border-radius: 10px 10px 0 0;
}

.custom-tabmenu .p-tabmenu {
    flex-grow: 1;
    margin-left: 20px;
}

.tab-title {
    margin-right: auto;
}

.card-footer {
    display: flex;
    justify-content: flex-end; /* Aligns content to the right */
    align-items: center; /* Centers items vertically */
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: linear-gradient(to right, rgb(235, 233, 233), #e7e6e6);
    padding: 10px 20px; /* Add some padding for visual appearance */
    z-index: 100; /* Make sure it's above other content */
}

.resAction {
    padding-right: 10px;
}

::ng-deep .p-button {
    margin-right: 10px;
    flex-shrink: 0; /* Prevents buttons from shrinking */
}