::ng-deep .p-tabmenu .p-tabmenu-nav{
    background: none;
    border:none;
    padding: 10px;
    margin: 10px;
    justify-content: flex-end;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem a {
    color: black; /* Dark grey text color */
    padding: 20px ;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight a {
    border-radius: 8px 8px 0 0;
    border-bottom: solid 2px;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    border: none;
    background: none;
}

.custom-tabmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-bottom: 3px solid;
    border-radius: 10px 10px 0 0;
}

.custom-tabmenu .p-tabmenu {
    flex-grow: 1;
    margin-left: 20px; /* Provides some space between the h2 and the tabs */
}

.tab-title {
    margin-right: auto; /* Ensures the title stays on the left */
}

.card-footer {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 1000; 
}

::ng-deep .p-button{
    margin-right: 10px;
}


@media (max-width: 480px) {
    .card-footer {
        flex-direction: column; /* Stack elements if the screen is too small */
        align-items: flex-end; /* Align items to the end */
        padding: 10px 10px;
    }

    .resAction, .p-button {
        margin-right: 0; /* Remove right margin */
        margin-bottom: 5px; /* Space between stacked elements */
    }
}

@media (max-width: 768px) {
    .card-footer {
        padding: 10px 10px; /* Reduced padding */
        font-size: 12px; /* Smaller font size for contents in the footer */
    }

    .content-area {
        padding-bottom: 60px; /* Ensure this value is sufficient to cover the footer height */
    }
}

/* Footer layout adjustments */
.resAction, .p-button {
    white-space: nowrap; /* Prevents wrapping of elements */
    margin-right: 10px; /* Consistent margin for alignment */
}

/* Ensuring buttons and text are on the same line */
.card-footer h3, .card-footer p-button {
    display: inline-flex; /* Inline flex to keep elements in line */
    align-items: center; /* Align items vertically */
}