html {
    background: linear-gradient(to right, rgb(255, 255, 255), #cacaca);
    height: 100vh;
    width: 100vw;
}

body {
    font-size: 16px;
    color: #333;
}

.p-card {
    background: none;
    color: black;
}

* {
    font-family: 'Roboto', sans-serif;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .p-card {
        padding: 20px;
        margin: 10px;
    }
    .custom-tabmenu {
        flex-direction: column;
        padding: 5px;
    }

    .custom-tabmenu .p-tabmenu {
        margin-left: 0;
    }

    .tab-title {
        margin-bottom: 10px; /* Push the tabs below the title */
    }

    .card-footer {
        justify-content: space-between; /* Changes alignment to spread out items */
        padding: 10px; /* Reduces padding to fit content better on small screens */
    }

    .resAction {
        flex-grow: 1; /* Allows the 'Resume' header to take more space if needed */
        text-align: left; /* Aligns text to the left to balance visibility */
        margin-right: 5px; /* Reduces margin to save space */
    }

    ::ng-deep .p-button {
        margin-right: 5px; /* Reduces margin to prevent overflow */
    }

    ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem a {
        padding: 10px;
    }
}
