::ng-deep .p-card .p-card-subtitle{
    color: black;
    margin-bottom: 0px;
    font-size: large;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.resAction{
    margin: 10px;

}

.hikingImg{
    border-radius: 8px 8px 0 0;
}